/* @media (max-width: 60em){ */


header{
    max-width: 100%;
    background-color: rgb(8, 65, 172);
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

main{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ali{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.alignment{
    background-color: rgb(19, 221, 228);
    padding: 20px;
    margin: 40px 40px 40px 40px;
    grid-column: 1/2;
    text-align: center;
}



h2{
    color: white;
    background-color: rgb(8, 65, 172);
}

a{
    color: white;
}

.proximity{
    background-color: rgb(19, 221, 228);
    padding: 5px;
    margin: 40px 40px 40px 40px;
    grid-column: 2/3;
    text-align: center;
    /* padding: 10px;
    margin: 20px 20px 20px 60px; 
    grid-column: 3/4;
     */
}

.contrast{
    background-color: rgb(19, 221, 228);
    padding: 10px;
    margin: 40px 40px 40px 40px;
    grid-column: 3/4;
    text-align: center;
    /* padding: 10px;
    margin: 20px 40px 20px 60px;
    grid-column: 3/4; */
}

footer{
    color: yellow;
    background-color: rgb(8, 65, 172);
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
}

.copyright{
    grid-column: 2/3;
    grid-row: 1;
    margin-left: -50px;
}

#lastMod{
    margin-left: 55px;
    grid-column: 2/3;
    grid-row: 3;
}

.update{
    margin-left: 90px;
    grid-column: 2/3;
    grid-row: 2;
}
/* } */