@media (min-width: 32.5em){


header{
    text-align: center;
}

.ali{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.alignment{
    padding: 5px;
    text-align: center;
    grid-column: 1/2;
}

.proximity{
    padding: 5px;
    text-align: center;
    grid-column: 2/3;
}

.contrast{
    padding: 5px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2;
}

img{
    margin: 10px;
    padding: 10px;
}

footer{
    color: yellow;
    background-color: rgb(8, 65, 172);
    text-align: center;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#lastMod{
    grid-column: 2/3;
    margin-left: -35px;
}

.update{
    margin-top: -10px;
    margin-left: -55%;
    grid-column: 2/4;
}

.copyright{
    margin-left: -10%;
    grid-column: 2/3;
}

}